<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="./login.css">
    <title>Expense page</title>
</head>
<body>
    <button type="submit" class="leaderboard float-left invisible" style="width: 20%; background-color: rgb(243, 194, 33);">Show leaderBoard</button>
  <input type="text" value="You are now Premium User" class="invisible premium_text" style="width: 20%; background-color: rgb(243, 194, 33);">
  <button type="submit" id="rzp-button" style="width: 20%; background-color: rgb(243, 194, 33);" 
  class="float-right">Buy Premium Membership</button>
  <button type="submit" id="download_expenses" style="width: 20%; background-color: rgb(243, 194, 33);"
  class="invisible">Download Expenses</button>
    <form action="" method="POST" id="addForm">
        <div class="container">
            <label for="amount"><b>Expense amount</b></label>
            <input type="number" placeholder="Enter amount" name="amount" class="amount" required>
        
            <label for="des"><b>Description</b></label>
            <input type="text" placeholder="Enter Description" name="des" class="des" required>

            <label for="category"><b>Expense category</b></label>
            <select name="category" id="category">
                <option value="Rent">Rent</option>
                <option value="House expense">House expense</option>
                <option value="Movies">Movies</option>
                <option value="Travelling">Travelling</option>
              </select>
        
            <button type="submit">Add Expense</button>
            
          </div>
    </form>
    <div>
      <h4 style="text-align: center;">Expenses</h4>
            <ul id="expense_list">
            </ul>
    </div>
    <div>
      <ul id="leaderBoard_list">
      </ul>
    </div>
    <div class="container mt-5">
      <div class="row">
          <div class="col-md-12">
              <div class="pagination justify-content-center">
                  <div class="btn-group">
                      <button class="btn btn-secondary" id="prevPage">Previous</button>
                      <button class="btn btn-secondary" id="currentPage">1</button>
                      <button class="btn btn-secondary" id="nextPage">Next</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
    <div aria-labelledby="list-downloadhistory-list">
        <div class="card-body" style="overflow-y: auto; max-height: 400px;">
                <h5 class="text-center">Complete Download History</h5>
                <ul class="list-group" id="historyplaceholder">
                    <a class="list-group-item list-group-item-action"
                        href="">Nothing downloaded yet</a>
                </ul>
        </div>
    </div>
    
</body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
<script src="expense.js"></script>
</html>