<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My shop</title>
</head>
<link rel="stylesheet" href="/css/main.css">
<body>
    <header class="main_header">
        <nav class="header_nav">
            <ul class="item_list">
                <li class="item">
                    <a class="active" href="/shop">Shop</a>
                </li>
                <li class="item">
                    <a href="/admin/add_product">Add product</a>
                </li>
                <li class="item">
                    <a class="active" href="/contact_us">contact us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Products</h1>
        <p>List of all products</p>
    </main>
</body>
</html>